<link rel="stylesheet" href="../assets/css/benefit-right.css">

<div class="empty-space-block-xl"></div>

<section class="benefit-block text-left">

    <div class="container">

        <div class="benefit-content">

            <div class="benefit-block-img">
                <picture>
                    <source media="(max-width: 500px)" srcset="../assets/img/benefit/benefit-left.webp" type="image/webp">
                    <source media="(max-width: 500px)" srcset="../assets/img/benefit/benefit-left.webp" type="image/jpeg">
                    <source srcset="../assets/img/benefit/benefit-left.webp" type="image/webp">
                    <img  src="../assets/img/benefit/benefit-left.webp" width="509" height="318" alt="Custom Rings Process">
                </picture>
            </div>

            <div class="benefit-block-text">
                <div class="benefit-block-text-data">
                    <div>
                        <div>
                            <h2 class="benefit-head-title">Jewellery Online
                                <br>
                                at the Most Affordable Price</h2>
                        </div>

                    </div>

                    <div class="empty-space-block-sm"></div>

                    <div class="benefit-description">
                        <div>
                            <span>
                                Behind our 15-year success is our panel of expert jewellers who have been scouring the entire globe in pursuit of the best and most stunning jewellery that can be offered at affordable price for you.
                            </span>
                        </div>
                        <div>
                            <span>
                                Visit our online catalogue and shop for the finest earrings, rings, bracelets, watches, silver, and the most luxurious gemstones.
                            </span>
                        </div>
                    </div>

                    <div class="empty-space-block-md"></div>

                    <a class="benefit-button read-more" href="/collections">READ MORE</a>
                </div>

            </div>

        </div>

    </div>

</section>

<div class="empty-space-block-xl"></div>