<div class="container">
    <div class="header-content">

        <!-- 👻 top header info (phone, email) 👻 -->
        <div class="header-content-top">
            <div>
                <a href="tel:+12146558822">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M484.6 330.6C484.6 330.6 484.6 330.6 484.6 330.6l-101.8-43.66c-18.5-7.688-40.2-2.375-52.75 13.08l-33.14 40.47C244.2 311.8 200.3 267.9 171.6 215.2l40.52-33.19c15.67-12.92 20.83-34.16 12.84-52.84L181.4 27.37C172.7 7.279 150.8-3.737 129.6 1.154L35.17 23.06C14.47 27.78 0 45.9 0 67.12C0 312.4 199.6 512 444.9 512c21.23 0 39.41-14.44 44.17-35.13l21.8-94.47C515.7 361.1 504.7 339.3 484.6 330.6zM457.9 469.7c-1.375 5.969-6.844 10.31-12.98 10.31c-227.7 0-412.9-185.2-412.9-412.9c0-6.188 4.234-11.48 10.34-12.88l94.41-21.91c1-.2344 2-.3438 2.984-.3438c5.234 0 10.11 3.094 12.25 8.031l43.58 101.7C197.9 147.2 196.4 153.5 191.8 157.3L141.3 198.7C135.6 203.4 133.8 211.4 137.1 218.1c33.38 67.81 89.11 123.5 156.9 156.9c6.641 3.313 14.73 1.531 19.44-4.219l41.39-50.5c3.703-4.563 10.16-6.063 15.5-3.844l101.6 43.56c5.906 2.563 9.156 8.969 7.719 15.22L457.9 469.7z"/></svg>
                    <span>(214)655-8822</span>
                </a>
            </div>

            <div>
                <a href="mailto:sales@sofialior.diamonds">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM32 128V167.9L227.6 311.3C244.5 323.7 267.5 323.7 284.4 311.3L480 167.9V128C480 110.3 465.7 96 448 96H63.1C46.33 96 31.1 110.3 31.1 128H32zM32 207.6V384C32 401.7 46.33 416 64 416H448C465.7 416 480 401.7 480 384V207.6L303.3 337.1C275.1 357.8 236.9 357.8 208.7 337.1L32 207.6z"/></svg>
                    <span>sales@sofialior.diamonds</span>
                </a>
            </div>
        </div>

        <!-- 👻 bottom header info (logo, icons, navigation) 👻 -->
        <div class="header-content-bottom">

            <!-- 👻 logo 👻 -->
            <div class="logo-wrap">
                <a href="#">
                    <svg viewBox="0 0 409.5 152" xmlns="http://www.w3.org/2000/svg"><path d="M107.653 82.064c-4.364 6.005-7.832 12.696-11.947 18.88-.877 1.317-4.436 5.07-4.091 6.613.333 1.488 6.804-1.144 7.675-1.763 2.712-1.928 4.709-8.265 6.202-11.25.558-1.118 1.12-2.95 2.229-3.642 1.09-.68 2.462.556 3.452.97 1.943.812 4.335.975 6.4.603 6.093-1.099 12.114-6.14 16.64-10.091-.408 1.494-1.019 2.923-1.183 4.48-.47 4.453 3.494 6.04 7.263 5.33 5.957-1.119 12.715-6.708 16.96-10.77.266 2.574-.82 5.087.019 7.68 2.726 8.435 12.575-.484 15.98-2.88.004 4.799 3.183 7.37 8 5.774 6.466-2.142 12.56-7.147 17.6-11.584 1.325-1.165 6.069-4.671 5.786-6.618-.358-2.469-4.916 2.743-5.47 3.238-4.228 3.77-8.608 7.58-13.435 10.57-1.216.753-4.178 2.672-5.523 1.306-1.802-1.831 1.048-6.442 2.003-8.126 2.626-4.635 5.558-9.026 8.534-13.44 1.527-2.266 3.602-4.482 4.586-7.04-2.086-.594-3.337.524-4.8 1.92-1.855-6.317-10.865-2.196-14.72-.045-10.16 5.668-16.499 15.707-25.92 22.432-1.862 1.33-7 5.986-9.523 4.48-2.817-1.684 1.871-8.775 2.894-10.547 1.198-2.078 2.525-4.085 3.855-6.08 2.656-3.984 6.085-7.885 8.214-12.16-3.982-1.166-7.203 4.08-9.463 6.72-6.52 7.612-12.947 14.784-21.577 20.138-3.355 2.082-8.38 4.55-11.798 1.233-5.06-4.914 3.193-9.19 6.358-11.71 11.878-9.46 21.937-22.081 29.944-34.941 2.382-3.828 4.832-8.018 5.731-12.48.342-1.697.4-4.375-1.494-5.203-1.815-.793-3.904.29-5.381 1.282-3.819 2.566-6.837 6.423-9.663 10-7.102 8.994-13.292 18.749-19.322 28.48-3.575 5.77-6.49 12.177-12.295 16.08-2.212 1.488-4.663 2.514-7.36 2.474-.764-.01-2.495-.02-2.68-1.043-.242-1.34 2.584-3.934 3.32-5.03 2.68-3.995 8.486-15.657 0-17.175-1.05-.188-2.152-.112-3.2.03-1.778.243-3.45.613-5.12 1.29-9.109 3.69-17.212 11.57-21.518 20.335-1.831 3.726-3.484 10.533 1.678 12.437 5.477 2.02 12.76-2.263 16.96-5.409 1.488-1.115 3.092-3.094 4.8-3.786 1.55-.628 4.59.665 6.4.585 2.985-.132 5.288-1.56 8-2.547m175.04-30.08c-.064 1.863-1.707 3.594-2.725 5.12a119.538 119.538 0 0 1-8.98 11.84c-1.01 1.17-3.17 4.348-4.93 4.197-1.366-.116-2.933-2.343-3.846-3.237-2.485-2.439-5.254-4.785-8.32-6.467-3.241-1.779-6.573-3.3-10.24-3.945-12.06-2.121-29.623 4.11-29.434 18.732.08 6.097 4.413 10.44 9.595 12.895 9.84 4.661 22.909 1.765 32-3.403a71.292 71.292 0 0 0 8.32-5.55c.876-.678 2.168-2.437 3.355-2.47.908-.026 1.85 1.479 2.41 2.048 1.787 1.815 3.756 3.436 5.755 5.011 7.189 5.664 15.944 9.36 24.96 5.675 2.822-1.153 6.017-3.197 7.04-6.206-2.895.15-5.103 2.366-8 2.784-7.92 1.141-15.863-1.54-22.4-5.878-1.69-1.12-6.529-3.68-6.794-5.866-.13-1.078 1.215-1.938 1.858-2.615 1.9-1.996 3.643-4.143 5.296-6.345 2.698-3.595 5.028-7.4 7.422-11.2.965-1.532 1.76-3.794 3.166-4.956 1.555-1.284 5.013-1.522 6.972-2.134 3.142-.982 6.265-2.739 8.96-4.613 5.037-3.503 9.542-8.572 12.06-14.217.96-2.154 1.573-6.002-1.182-7.075-3.425-1.333-7.897 1.401-10.558 3.28-7.765 5.485-12.804 13.71-18.565 21.06-1.48 1.888-3.267 1.605-5.435 1.509-.783-.035-2.098.05-2.266 1.06-.26 1.573 3.7 1.15 4.506.966m-228.16 9.92c-4.854-1.54-10-1.6-15.04-1.6-9.636 0-18.958.945-27.84 4.932-6.957 3.123-13.31 9.629-10.092 17.788 2.766 7.01 10.988 9.74 17.772 10.854C35 96.448 55.942 90.863 64.378 76.304c2.716-4.687 4.035-10.292 1.555-15.36-4.141-8.464-17.182-17.886-7.556-27.516 4.246-4.247 11.021-6.404 16.956-6.404 1.805 0 5.611.069 6.302 2.252.693 2.193-3.41 2.46-3.742 4.468 3.965.724 10.07-4.31 4.798-7.227-10.986-6.077-33.792 3.441-31.21 17.787.992 5.506 4.406 9.946 7.577 14.4 2.01 2.823 4.616 6.261 4.405 9.92-.404 6.986-5.898 12.62-11.49 16.18-10.137 6.454-23.163 8.933-34.88 5.981-5.76-1.45-13.412-6.367-9.815-13.201 1.707-3.244 4.806-5.286 7.895-7.04 7.772-4.415 16.57-6.032 25.28-7.176a40.674 40.674 0 0 1 10.56 0c1.567.203 2.99.214 3.52-1.464m234.88-12.8c4.226-6.989 9.009-14.311 15.36-19.545 1.776-1.464 6.516-4.989 8.767-2.397 1.949 2.244-1.37 6.962-2.59 8.822-4.415 6.73-13.212 13.05-21.537 13.12m-174.08 26.24c7.039-13.365 15.013-26.036 24.12-38.08 2.085-2.76 4.485-5.714 7.24-7.831.992-.763 2.784-1.948 4.058-1.12 1.296.844.399 2.745 0 3.83-1.275 3.459-3.271 6.46-5.145 9.6-5.578 9.35-12.34 17.91-20.033 25.6-2.664 2.663-6.473 7.105-10.24 8m47.36-29.44c-3.155.077-4.952 2.758-6.194 5.44-.378.816-1.13 2.495-.32 3.27.995.951 2.564-.356 3.255-1.063 2.053-2.102 3.235-4.735 3.259-7.646m173.76.243c-2.135.74-4.08 4.12-4.765 6.157-.432 1.279-.205 2.983 1.565 2.477 2.336-.667 4.054-3.856 4.768-5.997.429-1.293.361-3.307-1.568-2.637m22.72 35.597c1.693-3.267 4.457-5.954 6.195-9.28 1.773-3.391 3.814-9.341.144-12.273-2.774-2.218-7.52-1.007-10.5.133-10.626 4.068-16.86 13.997-25.28 21.008-3.046 2.538-6.358 5.266-9.92 7.045-1.242.621-3.492 1.735-4.41.04-1.224-2.265 1.608-6.385 2.675-8.273 3.848-6.812 9.473-12.89 12.936-19.84-3.71-1.063-7.002 3.927-9.146 6.4-4.715 5.441-11.034 11.733-13.003 18.88a7.17 7.17 0 0 0-.217 2.56c.739 7.785 10.82 2.83 14.366.704 3.373-2.023 6.278-4.709 9.6-6.784-.407 1.572-.912 3.168-.957 4.8-.31 12.177 15.328 4.723 20.477.799 1.51-1.15 2.982-2.905 4.707-3.714 1.571-.735 5.142.842 7.133.582 5.552-.723 10.029-4.548 13.702-8.535 2.858-3.105 5.59-6.338 8.253-9.612.877-1.078 2.01-3.111 3.645-2.555 4.08 1.388 6.835 3.752 3.2 7.35-3.421 3.383-8.026 5.34-11.84 8.244-3.427 2.608-10.525 11.931-1.92 13.108 9.02 1.233 16.918-5.386 23.36-10.762 2.854-2.38 6.397-4.346 6.4-8.345-2.458.748-4.803 3.983-6.72 5.705-3.693 3.318-7.76 6.411-12.16 8.73-1.581.833-5.875 3.438-7.575 2.007-1.779-1.502 1.485-4.804 2.484-5.882 3.888-4.195 10.899-9.218 12.281-15.04 1.264-5.329-4.435-4.476-6.269-7.802-.822-1.489 2.375-5.147-.934-5.586-3.808-.505-3.27 6.315-5.133 8.588-5.987 7.294-14.573 20.691-25.574 17.6M185.413 60.75c2.86-.163 3.515 2.941 2.23 4.994-1.66 2.649-4.113 4.923-6.07 7.36-3.313 4.124-6.353 8.51-10.24 12.13-1.715 1.598-4.755 4.947-7.355 4.723-4.407-.38-.45-8.944.594-10.773 3.309-5.8 8.275-11.54 13.8-15.298 2.013-1.369 4.533-2.994 7.04-3.136m-87.04 12.994c-3.101-.64-8.806-.352-8.895 4.16-.031 1.588 1.987 3.018 1.48 4.48-1.3 3.745-9.228 8.037-13.064 7.645-5.555-.568-2.545-8.292-.948-11.165 3.622-6.515 9.028-12.517 15.668-16.036 5.765-3.055 9.97-.433 7.929 6.116-.522 1.673-1.497 3.185-2.17 4.8m136.64-12.39c8.742-1.044 16.494 2.383 23.04 8 1.342 1.152 6.02 4.193 5.52 6.25-.407 1.68-4.124 3.399-5.52 4.216-5.79 3.391-12.489 6.117-19.2 6.952-5.656.704-12.818 1.155-17.6-2.593-5.477-4.294-4.795-11.729-.227-16.46 3.535-3.662 9.019-5.77 13.988-6.364m125.44.002c6.259-.738 4.029 8.094 1.923 11.083-1.069 1.514-2.342.6-3.843.744-1.69.162-3.616 1.173-4.666 2.493-2.323 2.917 1.18 4.141.586 6.652-.26 1.093-1.824 2.152-2.64 2.83-2.563 2.136-5.821 4.609-9.28 4.875-6.74.517-4.17-7.338-2.31-10.85 3.763-7.1 11.622-16.811 20.23-17.827m-259.52 55.267v19.2c3.875 0 9.063.921 12.48-1.27 5.143-3.301 5.926-13.516.318-16.801-3.971-2.326-8.497-1.141-12.798-1.13m43.52 19.2c3.837-.045 2.64-3.462 4.687-5.658 1.08-1.158 3.47-.798 4.911-.735 3.216.14 2.258 4.009 3.886 5.88.812.934 3.002.514 4.116.514-.873-4.913-3.375-9.968-4.965-14.72-.445-1.328-.904-4.26-2.438-4.699-2.784-.795-3.58 1.69-4.377 3.739-1.932 4.971-4.888 10.433-5.82 15.68m29.76-19.52c-1.316 4.45-1.427 10.378-1.597 15.04-.035.968-.916 4.113.412 4.489 1.507.426 1.625-1.985 1.733-2.89.436-3.627.722-7.545.732-11.2 3.393 3.497 4.997 10.092 7.36 14.4h.64l6.72-14.4 1.6 14.08h3.84c-.372-4.7-1.242-9.38-1.572-14.08-.088-1.254.236-4.196-.861-5.062-1.015-.802-2.828-.397-3.478.63-2.109 3.332-4.33 8.305-5.29 12.113h-.96l-3.91-8.96-1.974-3.511-3.395-.65m40.32.141c-7.19 1.158-9.493 11.371-5.262 16.807 1.926 2.474 5.803 3.225 8.782 2.797 12.167-1.75 9.098-21.635-3.52-19.604m23.36 19.38h2.24v-13.12c3.15 3.15 6.133 6.451 9.28 9.6 1.55 1.55 2.872 3.429 5.12 3.84 1.11-4.662.32-10.256.32-15.04 0-2.063.55-4.69-2.24-4.48v12.8c-3.62-2.665-6.723-6.724-9.92-9.92-.857-.856-2.62-3.292-4.059-2.934-1.256.312-.741 3.587-.741 4.534v14.72m29.76-19.2v19.2c3.888 0 9.065.938 12.48-1.27 5.334-3.452 5.567-13.644 0-16.946-3.757-2.229-8.41-.996-12.48-.984m28.16 15.36c-2.424 6 9.783 4.76 11.602 0 1.504-3.935-1.738-6.534-4.882-7.91-1.439-.63-4.07-1.85-3.32-3.896.89-2.43 5.181-.96 6.84-.354l.64-3.2c-1.825-.079-3.602-.465-5.44-.265-4.198.457-7.957 5.485-4.407 9.127 1.872 1.92 5.18 1.885 6.774 4.034 2.26 3.048-2.009 4.398-4.287 3.73-1.202-.353-2.317-.922-3.52-1.266m-166.08-15.36v19.2h3.84v-19.2h-3.84m-24.96 17.28v-15.36c2.35-.18 4.796-.318 6.685 1.388 2.813 2.541 2.973 10.378 0 12.877-1.8 1.514-4.503 1.095-6.685 1.095m166.72-15.36c2.126-.351 5.019-.182 6.685 1.353 2.757 2.538 2.912 9.809.419 12.602-1.093 1.224-5.528 2.466-6.775.892-.576-.727-.33-2.146-.33-3.007v-11.84m-57.598.458c6.094-1.69 7.68 3.272 7.679 8.182-.001 2.338.134 5.484-2.562 6.302-6.093 1.849-7.702-3.271-7.678-8.222.01-2.175-.013-5.548 2.561-6.262m-61.121.822 2.24 7.68h-5.12c.315-2.333 1.231-5.975 2.88-7.68z"/></svg>
                </a>
            </div>

            <!-- 👻 navigation 👻 -->
            <div class="header-navigation">
                <nav>
                    <ul>
                        <li class="main-nav-item menu-dropdown active main-nav-item-mega-menu">
                            <a href="#">Engagement</a>
                            <div class="menu-dropdown__content menu-dropdown__content--mega-menu">
                                <div class="menu-row">

                                    <div class="menu-row-col">
                                        <div class="mega-menu-products">
                                            <span class="mega-menu-products-head">Build Your Engagement Rings</span>

                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Shop All Engagement Rings</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Build With Lab Created Diamond</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Build With Moissanite Gem Stone</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Custom Engagement Rings</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="menu-row-col">
                                        <div class="mega-menu-products">
                                            <span class="mega-menu-products-head">Shop By Shape</span>

                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Round</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Oval</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Pear</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Emerald</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Cushion</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Radiant</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Princess</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Marquise</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Asscher</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="menu-row-col">
                                        <div class="mega-menu-products">
                                            <span class="mega-menu-products-head">Shop By Style</span>

                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Solitaire</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Halo</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Under Halo</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M509.1 198.8l-112-160C394.1 34.55 389.2 32 384 32H127.1C122.8 32 117.9 34.55 114.9 38.83l-112 160c-4.344 6.203-3.75 14.59 1.406 20.11l240 256C247.4 478.2 251.6 480 256 480s8.635-1.828 11.67-5.062l240-256C512.9 213.4 513.4 205 509.1 198.8zM383.4 75.13L465.3 192h-170.9L383.4 75.13zM256 189.6L160.3 64h191.4L256 189.6zM128.6 75.13L217.6 192H46.73L128.6 75.13zM256 440.6L52.93 224h406.1L256 440.6z"/></svg>
                                                        <span>Side Stones</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="menu-row-col">
                                        <div class="mega-menu-banner">
                                            <a href="">
                                                <img src="//cdn.shopify.com/s/files/1/0013/2661/2531/files/mega.jpg?v=1649141575" alt="">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li class="main-nav-item menu-dropdown">
                            <a href="#">Bands</a>
                        </li>

                        <li class="main-nav-item menu-dropdown">
                            <a href="#">Loose Stones</a>
                        </li>

                        <li class="main-nav-item menu-dropdown">
                            <a href="#">Collections</a>
                        </li>

                        <li class="main-nav-item menu-dropdown">
                            <a href="#">Educations</a>
                        </li>

                        <li class="main-nav-item menu-dropdown">
                            <a href="#">Get Informed</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- 👻 active icons 👻 -->
            <div class="header-icons">

                <div class="search-info-icon">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M507.3 484.7l-141.5-141.5C397 306.8 415.1 259.7 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c51.68 0 98.85-18.96 135.2-50.15l141.5 141.5C487.8 510.4 491.9 512 496 512s8.188-1.562 11.31-4.688C513.6 501.1 513.6 490.9 507.3 484.7zM208 384C110.1 384 32 305 32 208S110.1 32 208 32S384 110.1 384 208S305 384 208 384z"/></svg>
                            </span>
                </div>

                <div class="wish-list-icon">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L255.1 96zM255.1 141.3L221.4 106.6C196.1 81.31 160 69.77 124.7 75.66C71.21 84.58 31.1 130.9 31.1 185.1V190.9C31.1 223.6 45.55 254.7 69.42 277L250.1 445.7C251.7 447.2 253.8 448 255.1 448C258.2 448 260.3 447.2 261.9 445.7L442.6 277C466.4 254.7 480 223.6 480 190.9V185.1C480 130.9 440.8 84.58 387.3 75.66C351.1 69.77 315.9 81.31 290.6 106.6L255.1 141.3z"/></svg>
                            </span>
                </div>

                <div class="bag-shopping-icon">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M128 128V96C128 42.98 170.1 0 224 0C277 0 320 42.98 320 96V128H400C426.5 128 448 149.5 448 176V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V176C0 149.5 21.49 128 48 128H128zM160 128H288V96C288 60.65 259.3 32 224 32C188.7 32 160 60.65 160 96V128zM48 160C39.16 160 32 167.2 32 176V416C32 451.3 60.65 480 96 480H352C387.3 480 416 451.3 416 416V176C416 167.2 408.8 160 400 160H320V240C320 248.8 312.8 256 304 256C295.2 256 288 248.8 288 240V160H160V240C160 248.8 152.8 256 144 256C135.2 256 128 248.8 128 240V160H48z"/></svg>
                            </span>

                    <span class="bag-shopping-amount">0</span>

                </div>
            </div>
        </div>

    </div>
</div>