<link rel="stylesheet" href="../assets/css/main-page-banner.css">

<div class="bg-image" style="background-image: url('../assets/img/home/1.webp')">
    <section class="main-page-banner">
        <div class="container">
            <!--    <div class="bg-image img1"></div>-->

            <!--    <div class="bg-image img2"></div>-->
            <!--    <div class="bg-image img3"></div>-->
            <!--    <div class="bg-image img4"></div>-->
        </div>
    </section>
</div>

<div class="bg-image" style="background-image: url('../assets/img/home/2.webp')">
    <section class="main-page-banner">
        <div class="container">

        </div>
    </section>
</div>

<div class="bg-image" style="background-image: url('../assets/img/home/3.webp')">
    <section class="main-page-banner">
        <div class="container">

        </div>
    </section>
</div>

<div class="bg-image" style="background-image: url('../assets/img/home/4.webp')">
    <section class="main-page-banner">
        <div class="container">

        </div>
    </section>
</div>