<div class="promo-banner">
    <div class="promo-banner-content">
        <p>
            <a href="#" title="Our Biggest Sale Ever! Shop the Holiday Sale">
                <strong>20%OFF</strong>
                all lifestyle + unisex bands online with code
                <strong>HOLIDAY20</strong> For other offers
                through our team visit our blog</a>
        </p>
    </div>
</div>