<!--<link rel="stylesheet" href="../assets/css/carousel.css">-->
<!--<link rel="stylesheet" href="../assets/css/stone-select.css">-->

<div class="empty-space-block-sm"></div>
<section class="carousel-block">
    <div class="container">

        <div class="carousel-title">
            <h3 class="carousel-title-heading">Select Own Stone</h3>
        </div>

        <div class="carousel_content">

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54" >
                                    <path id="bg-fill_22_" d="M46 15.9c-14.8 0-26.8 12-26.8 26.8s12 26.8 26.8 26.8 26.8-12 26.8-26.8-12-26.8-26.8-26.8z"></path>
                                    <path id="shadow_22_" fill="black" fill-opacity=".085" d="M41.2 48.3c-8.1-8.2-12.2-18.7-14-24.6-4.9 4.8-7.9 11.6-7.9 19 0 14.8 12 26.8 26.8 26.8 7.2 0 13.7-2.9 18.5-7.5-5.8-1.8-15.5-5.7-23.4-13.7z"></path>
                                    <path id="stroke_21_" fill="currentColor" d="M46 15.9c-14.8 0-26.8 12-26.8 26.8s12 26.8 26.8 26.8 26.8-12 26.8-26.8-12-26.8-26.8-26.8zm22.4 36.7l-8.7 3.1-.8-7.4.2-.6 5.9-4.6 3.9 8.4c-.2.3-.3.7-.5 1.1zM54.8 65.5l-8.4-3.9 4.6-5.8.6-.2 7.4.9-3.1 8.5c-.3.2-.7.3-1.1.5zM36.1 65L33 56.3l7.4-.9.6.2 4.6 5.8-8.4 3.9c-.4 0-.7-.1-1.1-.3zM23.2 51.5l3.9-8.4 5.8 4.6.2.6-.8 7.4-8.7-3.1c-.1-.4-.3-.8-.4-1.1zm.4-18.8l8.7-3.1.8 7.4-.2.6-5.8 4.6-3.9-8.4c.1-.4.3-.7.4-1.1zm13.6-12.9l8.4 3.9-4.6 5.8-.6.2-7.4-.8 3.2-8.7c.3-.1.6-.3 1-.4zm18.7.4l3.2 8.7-7.4.9-.6-.2-4.6-5.8 8.4-3.9c.3 0 .7.2 1 .3zm12.9 13.6l-3.9 8.4-5.9-4.6-.1-.6.8-7.4 8.7 3.1c.2.4.3.7.4 1.1zM51 54.6h-9.8l-7-7v-9.9l7-7H51l7 7v9.9l-7 7zm1.2-24.3l7-.8-.8 7-6.2-6.2zm-6.2-.7h-4.4l4.4-5.5 4.4 5.5H46zm-12.3 6.9l-.8-7 7 .8-6.2 6.2zm-.8 6.1V47l-5.5-4.4 5.5-4.4v4.4zm7 12.4l-7 .8.8-7 6.2 6.2zm6.1.7h4.4L46 61.2l-4.4-5.5H46zm12.3-6.9l.8 7-7-.8 6.2-6.2zm.8-6.2v-4.4l5.5 4.4-5.5 4.4v-4.4zm.6-13.6l-3-8.4c5 2.4 9 6.4 11.4 11.4l-8.4-3zM46 23.3l-8.1-3.8c2.5-.9 5.2-1.4 8.1-1.4 2.8 0 5.5.5 8.1 1.4L46 23.3zM32.4 29L24 32c2.4-5 6.5-9 11.4-11.4l-3 8.4zm-5.7 13.6l-3.8 8.1c-.9-2.5-1.4-5.3-1.4-8.1s.5-5.6 1.4-8.1l3.8 8.1zm5.7 13.7l3 8.4c-5-2.4-9-6.4-11.4-11.4l8.4 3zm27.3 0l8.4-3c-2.4 5-6.5 9-11.4 11.4l3-8.4zm5.6-13.7l3.8-8.1c.9 2.5 1.4 5.3 1.4 8.1s-.5 5.6-1.4 8.1l-3.8-8.1zM46 62l8.1 3.8c-2.5.9-5.2 1.4-8.1 1.4-2.8 0-5.5-.5-8.1-1.4L46 62z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0"
                           rel="noopener">Round</a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_32_" d="M71.6 15.9H20.4c-.6 0-1.1.5-1.1 1.1v51.2c0 .6.5 1.1 1.1 1.1h51.2c.6 0 1.1-.5 1.1-1.1V17c.1-.6-.4-1.1-1.1-1.1z"></path>
                                    <path id="shadow_32_" fill="black" fill-opacity=".085" d="M37.1 51.7C25.7 40.3 20.5 23.6 19.3 19.2v49c0 .6.5 1.1 1.1 1.1h49.3c-3.7-.9-20.9-5.8-32.6-17.6z"></path>
                                    <path id="stroke_31_" fill="currentColor" d="M71.6 15.9H20.4c-.6 0-1.1.5-1.1 1.1v51.2c0 .6.5 1.1 1.1 1.1h51.2c.6 0 1.1-.5 1.1-1.1V17c.1-.6-.4-1.1-1.1-1.1zM46 67.1H22.6l5.5-3.7h35.8l5.5 3.7H46zm0-49h23.4l-5.5 3.7H28.1l-5.5-3.7H46zm0 44.7H30.1l15.2-4.3.6.1h.2l.6-.1 15.2 4.3H46zm0-40.4h15.9l-15.2 4.3-.6-.1H46h-.1l-.6.1-15.2-4.3H46zm13.4 6.8l1.4 13.4L59.4 56 46 57.4 32.6 56l-1.4-13.4 1.4-13.4L46 27.8l13.4 1.4zm-27.3-1.1l-3.4-5.5 15.1 4.3-11.7 1.2zm-1.8 12.3L26 25.3l5.5 3.4-1.2 11.7zm1.2 16.2L26 60l4.3-15.1 1.2 11.7zm.6.5l11.7 1.2-15.1 4.3 3.4-5.5zm27.8 0l3.4 5.5-15.1-4.3 11.7-1.2zm1.8-12.2L66 60l-5.5-3.4 1.2-11.7zm-1.2-16.2l5.5-3.4-4.3 15.1-1.2-11.7zm-.6-.6l-11.7-1.2 15.1-4.3-3.4 5.5zm-32-5.8l3.4 5.5-5.5-3.4-4.2-6.3V18h.1l6.2 4.3zm-2.1 20.3V26.7l4.3 15.2-.1.6v.2l.1.6-4.3 15.2V42.6zm-.1 18.2l5.5-3.4-3.4 5.5-6.3 4.2h-.1V67l4.3-6.2zm38.5 2.1l-3.4-5.5 5.5 3.4 4.2 6.3v.1h-.1l-6.2-4.3zm2-20.3v15.9l-4.3-15.2.1-.6v-.1-.1l-.1-.6 4.3-15.2v15.9zm.1-18.1l-5.5 3.4 3.4-5.5 6.3-4.2h.1v.1l-4.3 6.2zM21.5 42.6V19.2l3.7 5.5v35.8L21.5 66V42.6zm45.3 17.9V24.8l3.7-5.5V66l-3.7-5.5z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0"
                           rel="noopener">Radiant</a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_28_" d="M72.8 42.6l-.3-5v-.1-.1l-.9-5.1v-.1-.1l-1.4-5.3v-.1s0-.1-.1-.1l-2.8-4.8s0-.1-.1-.1c0 0 0-.1-.1-.1l-.1-.1s-.1 0-.1-.1L62 18.6h-.1-.1l-5.3-1.4h-.1l-5.1-.9h-.1-.1l-5-.3H46h-.1l-5 .3h-.1-.1l-5.1.9h-.2l-5.3 1.4H30h-.1l-4.8 2.8H25s-.1 0-.1.1c0 0-.1 0-.1.1 0 0 0 .1-.1.1l-.1.1-2.6 4.9v.2l-1.4 5.3v.1l-.9 5.1v.2l-.3 5v.2l.3 5v.2l.9 5.1v.1l1.4 5.3v.1s0 .1.1.1l2.8 4.8c0 .1.1.1.1.2l.2.2 4.8 2.8c.1 0 .2.1.3.1l5.3 1.4h.1l5.1.9h.2l5 .3h.2l5-.3h.2l5.1-.9h.1l5.3-1.4c.1 0 .2-.1.3-.1l4.8-2.8c.1 0 .1-.1.2-.2s.1-.1.1-.2l2.8-4.8s0-.1.1-.1v-.1l1.4-5.3v-.1l.9-5.1v-.1-.1l.3-5v-.2z"></path>
                                    <path id="shadow_28_" fill="black" fill-opacity=".085" d="M45.2 15.9l-4.3.2h-.1-.1l-5.1.9h-.2l-5.3 1.4H30h-.1l-4.8 2.8H25s-.1 0-.1.1c0 0-.1 0-.1.1 0 0 0 .1-.1.1l-.1.1-2.6 5.1v.2l-1.4 5.3v.1l-.9 5.1v.2l-.3 5v.2l.3 5v.2l.9 5.1v.1l1.4 5.3v.1s0 .1.1.1l2.8 4.8c0 .1.1.1.1.2l.2.2 4.8 2.8c.1 0 .2.1.3.1l5.3 1.4h.1l5.1.9h.2l5 .3h.2c-15.2-4.3-16.7-48.1-1-53.5z"></path>
                                    <path id="stroke_27_" fill="currentColor" d="M72.8 42.6l-.3-5v-.1-.1l-.9-5.1v-.1-.1l-1.4-5.3v-.1-.1l-2.8-4.8s0-.1-.1-.1c0 0 0-.1-.1-.1l-.1-.1s-.1 0-.1-.1l-5-2.8h-.1-.1l-5.3-1.4h-.1l-5.1-.9h-.1-.1l-5-.3H46h-.1l-5 .3h-.1-.1l-5.1.9h-.1-.1l-5.3 1.4H30h-.1l-4.8 2.8H25s-.1 0-.1.1c0 0-.1 0-.1.1 0 0 0 .1-.1.1l-.1.1-2.6 4.9v.2l-1.4 5.3v.1l-.9 5.1v.2l-.3 5v.2l.3 5v.2l.9 5.1v.1l1.4 5.3v.1s0 .1.1.1l2.8 4.8c0 .1.1.1.1.2l.2.2 4.8 2.8c.1 0 .2.1.3.1l5.3 1.4h.1l5.1.9h.1l5 .3h.2l5-.3h.2l5.1-.9h.1l5.3-1.4c.1 0 .2-.1.3-.1l4.8-2.8c.1 0 .1-.1.2-.2s.1-.1.1-.2l2.8-4.8s0-.1.1-.1v-.1l1.4-5.3v-.1l.9-5.1v-.1-.1l.3-5c.1-.1.1-.1.1-.2zm-4.8 15l-1.8 3.2-1.2-7.1 4.3-.4-1.3 4.3zm-7 7l-4.4 1.2.4-4.3 7.1 1.2-3.1 1.9zm-10.1 2.2l-2.4.2 7.9-5.2-.4 4.1h-.1l-5 .9zm-9.8 0l-5-.9H36l-.4-4.2 7.9 5.2-2.4-.1zm-10-2.2l-3.2-1.8 7.1-1.2.4 4.3-4.3-1.3zm-7.1-7l-1.2-4.4 4.3.4-1.2 7.1-1.9-3.1zm0-29.9l1.8-3.2 1.2 7.1-4.3.4 1.3-4.3zm7.1-7l4.4-1.2-.5 4.2-7.1-1.2 3.2-1.8zm10-2.3l2.4-.1-7.9 5.2.4-4.2h.1l5-.9zm9.8 0l5 .9h.1l.4 4.2-7.9-5.2 2.4.1zM61 20.7l3.2 1.8-7.2 1.2-.4-4.3 4.4 1.3zm7 7l1.2 4.4-4.3-.4 1.2-7.1 1.9 3.1zm2.5 14.9l-.1 1.4-5.8 8.8-3.6-9.7v-.9l3.6-9.7 5.8 8.8.1 1.3zm-.3 4.9l-.9 5v.1l-4.2.4 5.2-7.9-.1 2.4zM65.4 62l-.5.3-7.8-1.3.7-6.3.3-.3 6.3-.7 1.4 7.8-.4.5zM46 67.1l-1.3-.1-8.8-5.8 9.7-3.6h.9l9.7 3.6-8.9 5.8-1.3.1zM26.6 62l-.3-.5 1.4-7.8 6.3.7.3.3.7 6.3-7.8 1.4-.6-.4zm-3.9-9.5l-.9-5-.1-2.4 5.2 7.9-4.2-.5zm-1.2-9.9l.1-1.3 5.8-8.8 3.6 9.7v.9l-3.6 9.7-5.8-8.8-.1-1.4zm5.1-19.4l.5-.3 7.8 1.4-.7 6.3-.2.3-6.3.7-1.4-7.8.3-.6zM46 18.1l1.3.1 8.8 5.8-9.7 3.6h-.9L35.9 24l8.8-5.8 1.3-.1zm19.4 5.1l.3.5-1.4 7.8-6.3-.6-.3-.3-.7-6.3 7.8-1.4.6.3zm-8.3 30.5l-11.1 3-11.1-3-3-11.1 3-11.1 11.1-3 11.1 3 3 11.1-3 11.1zm-9.7-25.9l9.1-3.4.7 6-9.8-2.6zm-12.5 2.6l.7-6 9.1 3.4-9.8 2.6zm-3.7 10.8l-3.4-9.1 6-.7-2.6 9.8zm2.6 12.6l-6-.7 3.4-9.1 2.6 9.8zm10.8 3.6l-9.1 3.4-.7-6 9.8 2.6zm12.6-2.6l-.7 6-9.1-3.4 9.8-2.6zM60.8 44l3.4 9.1-6 .7 2.6-9.8zm-2.6-12.5l6 .7-3.4 9.1-2.6-9.8zm6.9.7l4.2.4v.1l.9 5 .1 2.4-5.2-7.9zm-43.3 5.5l.9-5v-.1l4.2-.4-5.2 7.9.1-2.4z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Cushion
                        </a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_21_" d="M46 16.3c-11.2 0-20.3 11.8-20.3 26.4C25.7 57.2 34.8 69 46 69c11.2 0 20.3-11.8 20.3-26.4 0-14.5-9.1-26.3-20.3-26.3z"></path>
                                    <path id="shadow_21_" fill="black" fill-opacity=".085" d="M60.6 61C49 60.2 32 49.1 30.8 25.2c-3.2 4.6-5.1 10.7-5.1 17.4C25.7 57.2 34.8 69 46 69c5.7 0 10.9-3.1 14.6-8z"></path>
                                    <path id="stroke_20_" fill="currentColor" d="M46 16.3c-11.2 0-20.3 11.8-20.3 26.4C25.7 57.2 34.8 69 46 69c11.2 0 20.3-11.8 20.3-26.4 0-14.5-9.1-26.3-20.3-26.3zM27.7 42.6c0-.6 0-1.2.1-1.8l3.6-5.6 2.5 7v.8l-2.5 7-3.6-5.6c-.1-.6-.1-1.2-.1-1.8zm30.6 18.1l-5.9.7 2.1-7.4.4-.5 5.5-2.6-.5 7.7c-.5.7-1 1.4-1.6 2.1zM46 67h-.8l-4.9-5.2 5.5-3.3h.5l5.4 3.3-4.9 5.2H46zm-13.8-8.4l-.5-7.7 5.5 2.6.4.5 2.1 7.4-5.9-.7c-.6-.7-1.1-1.4-1.6-2.1zm1.5-34l5.9-.7-2.1 7.4-.4.5-5.5 2.6.5-7.7c.6-.8 1.1-1.5 1.6-2.1zM46 18.2h.8l4.9 5.2-5.4 3.3h-.5l-5.5-3.3 4.9-5.2c.3.1.5 0 .8 0zm13.9 8.5l.5 7.7-5.5-2.6-.4-.5-2.1-7.4 5.9.7c.6.6 1.1 1.3 1.6 2.1zM45.3 58.2l-5.2 3.1-2-7 7.2 3.9zm8.6-3.9l-1.9 7-5.2-3.1 7.1-3.9zm.1-1.1l-8 4.2-8-4.3-3.4-10.5L38 32.1l8-4.3 7.9 4.3 3.4 10.5L54 53.2zm-7.2-26.1l5.2-3.2 1.9 7-7.1-3.8zm-8.7 3.8l2-7 5.2 3.2-7.2 3.8zm14.1-7.6l-4.6-5c3.9.4 7.4 2.5 10.3 5.7l-5.7-.7zm-12.4 0l-5.6.7c2.8-3.2 6.4-5.2 10.3-5.7l-4.7 5zm-8.7 11l-2-1.1c.6-2.1 1.5-4 2.5-5.7l-.5 6.8zm5.8-1.9L34 41.5l-2.4-6.6 5.3-2.5zm0 20.5l-5.3-2.5 2.4-6.6 2.9 9.1zm2.7 9l-1 3.1c-1.6-.9-3.1-2.2-4.5-3.7l5.5.6zm.4.3l4.4 4.7c-1.9-.2-3.7-.8-5.4-1.7l1-3zm12 0l1 3c-1.7.9-3.5 1.5-5.4 1.7l4.4-4.7zm.4-.3l5.4-.7C56.5 62.8 55 64 53.4 65l-1-3.1zm2.7-9l2.9-9.1 2.4 6.6-5.3 2.5zm0-20.5l5.3 2.5-2.4 6.6-2.9-9.1zm5.8 2.3l-.5-7.1c2.1 3.5 3.4 7.7 3.8 12.3l-3.3-5.2zm-29.9.1l-3.2 5c.2-2.1.6-4.2 1.1-6.1l2.1 1.1zm.1 15.8l.5 7.1c-2.1-3.5-3.4-7.7-3.8-12.3l3.3 5.2zm29.8 0l3.3-5.2c-.4 4.6-1.8 8.8-3.8 12.3l.5-7.1zm-.2-.6l-2.5-7v-.8l2.5-7 3.6 5.6c0 .6.1 1.2.1 1.8 0 .6 0 1.2-.1 1.8L60.7 50z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Oval
                        </a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_30_" d="M65.3 23.4c0-.1 0-.1-.1-.2v-.1-.1l-.1-.1-6.6-6.6-.1-.1h-.1-.1-.1-24-.1-.1s-.1 0-.1.1h-.1c-.1 0-.1.1-.2.1L27 22.9s-.1.1-.1.2v.1s0 .1-.1.1V62.2s0 .1.1.1v.1c0 .1.1.1.1.2l6.6 6.6s.1.1.2.1h.1s.1 0 .1.1H58.4c.1 0 .1-.1.1-.1l6.6-6.6.1-.1v-.1-.1-.1-.1-38.6c.1-.1.1-.1.1-.2z"></path>
                                    <path id="shadow_30_" fill="black" fill-opacity=".085" d="M58 69.2H58.3c.1 0 .1-.1.1-.1l6.6-6.6c-4 1.1-18.7 4.2-25.7-7-6.7-10.6-6.6-31.1-6.4-38.4L27 22.9s-.1.1-.1.2v.1s0 .1-.1.1V62.2s0 .1.1.1v.1c0 .1.1.1.1.2l6.6 6.6s.1.1.2.1h.1s.1 0 .1.1H57.8c0-.2.1-.2.2-.2-.1 0 0 0 0 0z"></path>
                                    <path id="stroke_29_" fill="currentColor" d="M65.2 62.1c.1-.1.1-.2.1-.2v-.1-38.2-.2-.1-.1-.1-.1l-.1-.1-6.6-6.6-.1-.1h-.1-.1-.1-24.1-.1-.1s-.1 0-.1.1h-.1c-.1 0-.1.1-.2.1L27 22.9s-.1.1-.1.2v.1s0 .1-.1.1V62.2s0 .1.1.1v.1c0 .1.1.1.1.2l6.6 6.6s.1.1.2.1h.1s.1 0 .1.1H58.4c.1 0 .1-.1.1-.1l6.6-6.6c0-.4 0-.4.1-.6 0 .1 0 .1 0 0zM30.3 25.5l1.8 1.1v31.9l-1.8 1.1V25.5zm22.8 35.4H38.9l-3.8-3.8V28.2l3.8-3.8h14.2l3.8 3.8v28.9l-3.8 3.8zM32.5 27l1.6 1v29.3l-1.6 1V27zm25.4 30.3V28l1.6-1v31.3l-1.6-1zm-.2-29.8l-3.9-3.9 1.1-1.6 4.5 4.5-1.7 1zm-4.3-4.1c-.1 0-.1 0 0 0H38.7l-1-1.6h16.7l-1 1.6zM37.2 22l1.1 1.6-3.9 3.9-1.7-1.1 4.5-4.4zm-2.9 35.7l3.9 3.9-1.1 1.6-4.5-4.5 1.7-1zm4.4 4.2h14.7l1 1.5H37.7l1-1.5zm16.1 1.4l-1.1-1.6 3.9-3.9 1.7 1.1-4.5 4.4zM60 26.7l1.8-1.1v34.2L60 58.6V26.7zm-.2-.5l-4.7-4.7 1.2-1.9 5.3 5.3-1.8 1.3zm-5.1-4.9H37.4l-1.1-1.8h19.6l-1.2 1.8zm-19-1.6l1.2 1.9-4.7 4.7-1.8-1.3 5.3-5.3zm-5.9 40.4l-1.1.7V24.5l1.1.7v34.9zm2.5-1l4.7 4.7-1.2 1.9-5.3-5.3 1.8-1.3zm5.1 4.8h17.3l1.1 1.8H36.2l1.2-1.8zm18.9 1.7l-1.2-1.9 4.7-4.7 1.9 1.2-5.4 5.4zm6-40.4l1.1-.7v36.2l-1.1-.7V25.2zm-.2-.4l-5.5-5.5.8-1.2 5.9 5.9-1.2.8zm-6-5.7H35.9l-.7-1.1h21.6l-.7 1.1zM34.7 18l.8 1.2-5.5 5.6-1.3-.8 6-6zM30 60.5l5.5 5.5-.8 1.2-5.9-5.9 1.2-.8zm5.9 5.7h20.2l.7 1.1H35.2l.7-1.1zm21.5 1l-.8-1.2 5.5-5.5 1.2.8-5.9 5.9z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Emerald
                        </a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_23_" d="M46 16c-11.5 0-19 8.8-19 22.4 0 6.1 3.1 13.1 9.2 20.8 4.5 5.7 8.9 9.6 9.1 9.7.2.2.4.2.6.2s.4-.1.6-.2c.2-.2 4.6-4 9.1-9.7 6.1-7.7 9.2-14.7 9.2-20.8C65 24.8 57.5 16 46 16z"></path>
                                    <path id="shadow_23_" fill="black" fill-opacity=".085" d="M58.2 56c-15.3 2.8-12.1-33-25.8-34.1C29 25.8 27 31.5 27 38.5c0 6.1 3.1 13.1 9.2 20.8 4.5 5.7 8.9 9.6 9.1 9.7.2.2.4.2.6.2s.4-.1.6-.2c.2-.2 4.6-4 9.1-9.7 1.1-1.1 1.9-2.2 2.6-3.3z"></path>
                                    <path id="stroke_22_" fill="currentColor" d="M46 16c-11.5 0-19 8.8-19 22.4 0 6.1 3.1 13.1 9.2 20.8 4.5 5.7 8.9 9.6 9.1 9.7.2.2.4.2.6.2s.4-.1.6-.2c.2-.2 4.6-4 9.1-9.7 6.1-7.7 9.2-14.7 9.2-20.8C65 24.8 57.5 16 46 16zm12.5 36.1l-6.6 4.3v-8.1l.3-.6 6-5.1 1.1 7.8c-.2.7-.5 1.2-.8 1.7zM46 67c-.1-.1-.3-.2-.4-.4L40.7 57l5.2-2.7h.5l4.9 2.7-4.9 9.6-.4.4zM32.7 50.6l1.1-7.8 6 5.1.3.6v8.1l-6.6-4.3c-.2-.7-.5-1.2-.8-1.7zm-3.6-14.8l4.6-5.5 3.4 5.6v.5L33.7 42 29 36.3c0-.2 0-.3.1-.5zm4.7-12.5l6.4-.1-.7 6.1-.2.2-5.4.1-.3-6.1.2-.2zM46 18h.6l4.6 5-5 3.3h-.4l-5-3.3 4.6-5h.6zm5.2 29.7l-5.1 5.5-5.3-5.5-2.9-11.6 2.2-6 5.9-2.9 5.9 2.9 2.2 6-2.9 11.6zm-4.5-21.2l4.6-3.1.6 5.7-5.2-2.6zM40 29.1l.6-5.7 4.6 3.1-5.2 2.6zm-2.8 6.2l-3.1-5.2h5l-1.9 5.2zM39.6 47L34 42.3l3.2-5.3 2.4 10zm5.9 6.9l-4.9 2.6v-7.6l4.9 5zm5.9-5v7.6l-4.6-2.6 4.6-5zM54.9 37l3.2 5.3-5.7 4.7 2.5-10zm-2-6.9h5l-3.1 5.2-1.9-5.2zm5.5-6.6l-.3 6.1-5.4-.1-.2-.2-.7-6.1 6.4.1c.1.1.2.1.2.2zm0 18.4L55 36.3v-.5l3.4-5.6 4.6 5.5v.5l-4.6 5.7zm4.5-6.9l-4.3-5.2.2-5.7c2.2 2.8 3.6 6.5 4.1 10.9zm-5.1-12.2l-6.1-.1-4.4-4.7c4.3.3 7.8 2 10.5 4.8zM44.7 18l-4.4 4.7-6.1.1c2.7-2.8 6.3-4.5 10.5-4.8zm-11.5 6.1l.2 5.7-4.3 5.2c.5-4.4 1.9-8.1 4.1-10.9zM29 37l4.4 5.4-1.1 7.5c-2-3.7-3.3-7.6-3.3-11.4-.1-.5 0-1 0-1.5zm5.2 16.1l6 4 4.3 8.5c-2.5-2.5-6.8-7.1-10.3-12.5zm13.3 12.5l4.3-8.5 6-4c-3.4 5.4-7.8 10-10.3 12.5zm12.2-15.7l-1.1-7.5L63 37v1.4c.1 3.9-1.3 7.8-3.3 11.5z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Pear
                        </a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_29_" d="M72.8 26.2V26v-.1-.1s0-.1-.1-.1v-.1c0-.1-.1-.1-.1-.2l-9.2-9.2c-.1-.1-.1-.1-.2-.1 0 0-.1 0-.1-.1 0 0-.1 0-.1-.1h-.1-33.5-.1-.1s-.1 0-.1.1c0 0-.1 0-.1.1-.1 0-.1.1-.1.1l-9.2 9.2c-.1.1-.1.1-.1.2 0 0 0 .1-.1.1 0 0 0 .1-.1.1v33.6s0 .1.1.1c0 0 0 .1.1.1 0 .1.1.1.1.2l9.2 9.2.1.1s.1 0 .1.1c0 0 .1 0 .1.1h33.6s.1 0 .1-.1h.1c.1 0 .1-.1.2-.1l9.2-9.2c.1-.1.1-.1.1-.2v-.1s0-.1.1-.1v-.1-.1-.2-.1l.2-32.8z"></path>
                                    <path id="shadow_29_" fill="black" fill-opacity=".085" d="M37.4 51.2C27.2 41 26.7 23.9 26.9 18.2l-7.3 7.3c-.1.1-.1.1-.1.2 0 0 0 .1-.1.1 0 0 0 .1-.1.1V59.4s0 .1.1.1c0 0 0 .1.1.1 0 .1.1.1.1.2l9.2 9.2.1.1s.1 0 .1.1c0 0 .1 0 .1.1h33.6s.1 0 .1-.1h.1c.1 0 .1-.1.2-.1l7.5-7.5c-5 .1-22.8 0-33.2-10.4z"></path>
                                    <path id="stroke_28_" fill="currentColor" d="M72.7 59.5c0-.1 0-.1 0 0 0-.1.1-.2.1-.2v-.2-32.9-.1-.2-.1-.1s0-.1-.1-.1v-.1c0-.1-.1-.1-.1-.2l-9.2-9.2c-.1-.1-.1-.1-.2-.1 0 0-.1 0-.1-.1 0 0-.1 0-.1-.1h-.1-33.5-.1-.1s-.1 0-.1.1c0 0-.1 0-.1.1-.1 0-.1.1-.1.1l-9.2 9.2c-.1.1-.1.1-.1.2 0 0 0 .1-.1.1 0 0 0 .1-.1.1v33.7s0 .1.1.1c0 0 0 .1.1.1 0 .1.1.1.1.2l9.2 9.2.1.1s.1 0 .1.1c0 0 .1 0 .1.1h33.6s.1 0 .1-.1h.1c.1 0 .1-.1.2-.1l9.2-9.2c.1-.1.1-.1.1-.2v-.1l.2-.1zM24.5 29.2l3.3 2.1V54l-3.3 2V29.2zm30.3 27H37.2l-4.8-4.7V33.8l4.8-4.7h17.6l4.7 4.7v17.6l-4.7 4.8zM28.3 31.7l3 1.9v18l-3 1.9V31.7zm32.4 20V33.6l3-1.9v21.9l-3-1.9zm-.3-18.6l-4.8-4.8 2-3.1 6 6-3.2 1.9zM55.1 28s-.1 0 0 0H37l-1.9-3H57l-1.9 3zm-20.6-2.8l2 3.1-4.8 4.8-3.1-2 5.9-5.9zm-2.9 27l4.8 4.8-2 3.1-6-6 3.2-1.9zm5.4 5.1h18.1l1.9 3H35.1l1.9-3zm20.6 2.8l-2-3.1 4.8-4.8 3.1 2-5.9 5.9zm6.6-6.1V31.3l3.3-2.1V56l-3.3-2zM64 30.8l-6.1-6.1 2.1-3.4 7.3 7.3-3.3 2.2zm-6.7-6.4H34.7l-2.1-3.3h26.9l-2.2 3.3zM32 21.3l2.1 3.4-6.1 6.1-3.4-2.1 7.4-7.4zm-8.1 7.6v27.6L21.5 58V27.3l2.4 1.6zM28 54.5l6.1 6.1L32 64l-7.4-7.3 3.4-2.2zm6.7 6.3h22.7l2.1 3.3H32.6l2.1-3.3zM60 64l-2.1-3.4 6.1-6.1 3.4 2.1L60 64zm8.1-7.6V28.9l2.4-1.6V58l-2.4-1.6zm-.3-28.1l-7.5-7.5 1.7-2.6 8.5 8.5-2.7 1.6zm-8-7.7H32.2l-1.6-2.4h30.7l-1.5 2.4zM30 18.2l1.7 2.6-7.5 7.5-2.6-1.7 8.4-8.4zm-5.8 38.7l7.5 7.5-1.7 2.7-8.5-8.5 2.7-1.7zm8 7.8h27.6l1.6 2.4H30.7l1.5-2.4zM62 67.1l-1.7-2.6 7.5-7.5 2.6 1.7-8.4 8.4z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Asscher
                        </a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 15 54 55">
                                    <path id="bg-fill_26_" d="M58.9 15.5c-7.9 0-11.5 4.9-12.9 7.9-1.4-3-5-7.9-12.9-7.9-8 0-13.8 6.6-13.8 15.8 0 8.5 3.3 16.8 9.7 24.7 5.2 6.4 11.2 10.8 14.4 12.9.8.6 1.8.8 2.7.8.9 0 1.9-.3 2.7-.8 3.1-2.1 9.1-6.5 14.4-12.9 6.4-7.9 9.7-16.2 9.7-24.7-.2-9.1-6-15.8-14-15.8z"></path>
                                    <path id="shadow_26_" fill="black" fill-opacity=".085" d="M46 23.4c-1.4-3-5-7.9-12.9-7.9-8 0-13.8 6.6-13.8 15.8 0 8.5 3.3 16.8 9.7 24.7 5.2 6.4 11.2 10.8 14.4 12.9.4.3.9.5 1.4.6-35.4-27.7 26.7-47.6 17-53.7-.9-.2-1.9-.3-2.9-.3-7.9 0-11.5 4.9-12.9 7.9z"></path>
                                    <path id="stroke_25_" fill="currentColor" d="M58.9 15.5c-7.9 0-11.5 4.9-12.9 7.9-1.4-3-5-7.9-12.9-7.9-8 0-13.8 6.6-13.8 15.8 0 8.5 3.3 16.8 9.7 24.7 5.2 6.4 11.2 10.8 14.4 12.9.8.6 1.8.8 2.7.8.9 0 1.9-.3 2.7-.8 3.1-2.1 9.1-6.5 14.4-12.9 6.4-7.9 9.7-16.2 9.7-24.7-.1-9.1-6-15.8-14-15.8zm.4 41.2l-9.4 4.1 3.1-8.3.7-.8 6.1-4.1-.5 9.1zM45.9 67.8l-3-6.5 3-3.9h.1l3 3.9-3 6.5h-.1zM23.6 43.4l2.8-8.9 4.4 4.5.4.9.5 6.7-7.8-2.8c-.2-.1-.3-.2-.3-.4zm13.6-24.9l8.5 9.5v1.5l-8-1.1-.2.1L30 25l7.2-6.5zm17.5 0l7.2 6.5-7.4 3.3-.2-.1-8 1.1v-1.5l8.4-9.3zm5.1 28.4l-5.4 3.6 5.8-9.6-.4 6zm-27.7 0l-.4-6 5.8 9.6-5.4-3.6zm13.8-16.3c.1 0 .1 0 0 0 .1 0 .1 0 0 0 .1 0 .1 0 0 0 .1 0 .1 0 0 0h.2l8-1.2 7 2L60 39l-7.5 12.4-6.5 4.8-6.5-4.8L31.9 39l-1-7.7 7-2 8 1.3zm15.6-.3l-6.2-1.7 6.8-3-.6 4.7zm-31.1 0l-.6-4.7 6.8 3-6.2 1.7zm-.6 1.3l.9 6.4-4-4 3.1-2.4zm15.6 25.6l-2.8 3.6-2.8-7.7 5.6 4.1zm6.7-4.1l-2.8 7.7-2.8-3.6 5.6-4.1zm10-21.5l3.1 2.4-3.9 4 .8-6.4zm3.5 1.9L62.2 31l-.2-.5.6-5 7.2 1.7-4.2 6.3zm-36.3-8.1l.6 5-.2.6-3.4 2.6-4.2-6.4 7.2-1.8zm3.3 31.3l-.5-9.2 6.1 4.1.7.8 3.1 8.3-9.4-4zm28.2-16.8l.4-.9 4.4-4.5 2.9 9.1c0 .1 0 .1-.1.2l-8 2.9.4-6.8zm7.9 2.9L66 34l4.5-6.8c.3 1.3.5 2.6.5 4.1-.1 4.1-.9 7.9-2.3 11.5zm1.6-16.2l-7.7-1.8L55 18a16 16 0 0 1 3.9-.5c5.5-.1 9.8 3.6 11.4 9.1zm-25.9-2.3c.3.7.9 1.1 1.6 1.1.7 0 1.3-.4 1.6-1.1.9-1.9 2.8-4.8 6.5-6.1L46 27.4l-8.3-9.3c3.8 1.4 5.8 4.3 6.7 6.2zm-11.3-6.9c1.5 0 2.7.2 3.9.5l-7.6 6.9-7.6 1.8c1.5-5.5 5.8-9.2 11.3-9.2zm-11.5 10L26 34l-2.7 8.6c-1.3-3.5-2.1-7.2-2.1-11.3-.1-1.4.1-2.7.4-3.9zM24 44.5l7.6 2.7.5 9.4c-3.1-3.3-6-7.4-8.1-12.1zm8.7 12.9l9.6 4.2 2.9 6.2c-.3-.1-.6-.2-.9-.4-2.3-1.7-7-5.1-11.6-10zm15 9.9c-.3.2-.6.3-1 .4l2.9-6.2 9.8-4.2c-4.6 5-9.3 8.4-11.7 10zm12.1-10.5l.5-9.6 7.7-2.8c-2.1 4.8-5.1 9-8.2 12.4z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Heart
                        </a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_33_" d="M67.5 21.1V21v-.1-.1-.1-.1s0-.1-.1-.1l-.1-.1s0-.1-.1-.1l-4.8-4.1s-.1 0-.1-.1h-.1-.1-.1-.1-31.6-.1-.1-.1-.1-.1s-.1 0-.1.1l-4.8 4.1-.1.1-.1.1s0 .1-.1.1V64.6s0 .1.1.1l.1.1s0 .1.1.1l4.8 4.1H62.2s.1 0 .1-.1h.1l4.8-4.1.1-.1.1-.1s0-.1.1-.1v-.1-.1-.1-.1-43z"></path>
                                    <path id="shadow_33_" fill="black" fill-opacity=".085" d="M37.4 55c-8.4-12.1-8.6-30.4-8.3-38.2l-4.2 3.6-.1.1-.1.1s0 .1-.1.1V64.7s0 .1.1.1l.1.1s0 .1.1.1l4.8 4.1H62.2s.1 0 .1-.1h.1l3.7-3.2c-6.3.9-20.4 1.2-28.7-10.8z"></path>
                                    <path id="stroke_32_" fill="currentColor" d="M67.5 21.1V21v-.1-.1-.1-.1s0-.1-.1-.1l-.1-.1s0-.1-.1-.1l-4.8-4.1s-.1 0-.1-.1h-.1-.1-.1-.1-31.6-.1-.1-.1-.1-.1s-.1 0-.1.1l-4.8 4.1-.1.1-.1.1s0 .1-.1.1V64.6s0 .1.1.1l.1.1s0 .1.1.1l4.8 4.1H62.2s.1 0 .1-.1h.1l4.8-4.1.1-.1.1-.1s0-.1.1-.1v-.1-.1-.1-.1-43zM46 60.1l-10.8-.7-.8-16.7.8-16.7 10.8-.8 10.8.7.8 16.7-.8 16.7-10.8.8zm11.8-34.6l3.7-1.4-3.1 15.5-.6-14.1zm-.6-.5l-9.1-.6 10.3-3.1-1.2 3.7zm-22.3 0l-1.2-3.7 10.3 3-9.1.7zm-1.3 14.6l-3.1-15.5 3.7 1.4-.6 14.1zm-.1 2v2l-3 15.4V26.2l3 15.4zm.1 4.1l.6 14-3.7 1.4 3.1-15.4zm1.3 14.6l9.1.6L33.7 64l1.2-3.7zm22.3 0l1.2 3.7-10.3-3.1 9.1-.6zm1.2-14.6l3.1 15.5-3.7-1.4.6-14.1zm.1-2.1v-2l3-15.4V59l-3-15.4zM57.7 25l1.2-3.7 2.5 2.3-3.7 1.4zm-11-.7h-1.2L35 21.1h22.1l-10.4 3.2zm-12.3.7l-3.7-1.4 2.5-2.3 1.2 3.7zM30 61.4l-3.5 1.9V21.9l3.5 1.9v37.6zm4.4-1.2L33.2 64l-2.5-2.3 3.7-1.5zm11 .8h1.2L57 64.1H35L45.4 61zm12.3-.8l3.7 1.4-2.5 2.4-1.2-3.8zm4.4-36.4l3.5-1.9v41.4l-3.5-1.9V23.8zm-.2-.4l-2.8-2.6 2.2-2.8h.1l4.1 3.5-3.6 1.9zm-3.3-2.8H33.4l-2-2.6h29.2l-2 2.6zM30.7 18l2.2 2.8-2.8 2.6-3.5-1.9 4.1-3.5zm-.5 43.9l2.8 2.6-2.2 2.8h-.1l-4.1-3.5 3.6-1.9zm3.2 2.8h25.2l2 2.6H31.4l2-2.6zm27.9 2.6l-2.2-2.8 2.8-2.6 3.5 1.9-4.1 3.5z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Radiant
                        </a>
                    </div>

                </div>
            </div>


            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">
                                <svg class="svg-img" viewBox="19 16 54 54">
                                    <path id="bg-fill_24_" d="M46.4 16.2c-.2-.1-.5-.1-.7 0-.1.1-14.7 7.8-14.7 26.4C30.9 61.2 45.5 69 45.7 69c.1.1.2.1.4.1.1 0 .2 0 .4-.1.1-.1 14.7-7.8 14.7-26.4-.1-18.6-14.7-26.3-14.8-26.4z"></path>
                                    <path id="shadow_24_" fill="black" fill-opacity=".085" d="M39.6 42.6c0-11.6 4.2-22.8 5.5-26-2.8 1.7-14.1 9.7-14.1 26 0 16.5 11.5 24.5 14.2 26.1-1.3-2.9-5.6-14.2-5.6-26.1z"></path>
                                    <path id="stroke_23_" fill="currentColor" d="M46.4 16.2c-.2-.1-.5-.1-.7 0-.1.1-14.7 7.8-14.7 26.4C30.9 61.2 45.5 69 45.7 69c.1.1.2.1.4.1.1 0 .2 0 .4-.1.1-.1 14.7-7.8 14.7-26.4-.1-18.6-14.7-26.3-14.8-26.4zm9 41.6L49.8 62l3-9.2.4-.7 3.5-2.9-.5 7c-.1.6-.4 1.1-.8 1.6zM46 67.5c-.1-.1-.3-.2-.4-.3l-2.7-4.6 3-2.9h.2l3 2.9-2.7 4.6c-.1.1-.3.2-.4.3zm-9.4-40.1l5.6-4.2-3 9.2-.4.7-3.5 2.9.5-7c.2-.5.5-1.1.8-1.6zm9.4-9.6c.1.1.3.2.4.3l2.7 4.6-3 2.9h-.2l-3-2.9 2.7-4.6c.2-.1.3-.2.4-.3zM32.5 42.6v-1l2.4-4.5 1.5 5.1v.8l-1.5 5.1-2.4-4.5v-1zM52.4 52L46 58.7 39.6 52l-2.4-9.3 2.4-9.3 6.4-6.7 6.4 6.7 2.4 9.3-2.4 9.3zm1.1-18.1l3.4 2.7-1.4 4.8-2-7.5zm-7-8.1l2.8-2.7 2.9 8.7-5.7-6zm-6.6 5.9l2.9-8.7 2.8 2.7-5.7 6zm-3.3 9.7l-1.4-4.8 3.4-2.7-2 7.5zm0 2.5l1.9 7.5-3.4-2.7 1.5-4.8zm8.9 15.6l-2.8 2.7-2.9-8.7 5.7 6zm6.7-6l-2.9 8.7-2.8-2.7 5.7-6zm3.2-9.6l1.4 4.8-3.4 2.7 2-7.5zm1.8 4.2L55.7 43v-.8l1.5-5.1 2.3 4.5v2l-2.3 4.5zm.1-11.6l-.5-6.4c1.3 2.9 2.3 6.4 2.6 10.5l-2.1-4.1zm-.9-7.5l.5 7-3.5-2.9-.4-.7-3-9.2 5.6 4.2c.2.5.5 1.1.8 1.6zm-21.7 7.5l-2.1 4.1c.3-4.1 1.2-7.5 2.6-10.5l-.5 6.4zm0 12.3l.5 6.4c-1.4-2.9-2.3-6.4-2.6-10.5l2.1 4.1zm1 7.4l-.5-7 3.5 2.9.4.7 3 9.2-5.6-4.2c-.2-.5-.5-1-.8-1.6zm21.6-7.4l2.1-4.1c-.3 4.1-1.2 7.5-2.6 10.5l.5-6.4zm-2.5-22.4l-5.2-3.9-2.3-3.9c1.8 1.3 4.9 3.8 7.5 7.8zm-10-7.8l-2.3 3.9-5.2 3.9c2.5-4 5.6-6.5 7.5-7.8zm-7.6 40.3l5.2 3.9 2.3 3.9c-1.8-1.3-4.9-3.9-7.5-7.8zm10.1 7.8l2.3-3.9 5.2-3.9c-2.6 3.9-5.7 6.5-7.5 7.8z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Marquise
                        </a>
                    </div>

                </div>
            </div>


        </div>

    </div>
</section>

<!--<script type="text/javascript" src="../assets/js/carousel/slick.min.js"></script>-->
<!--<script type="text/javascript" src="../assets/js/carousel/carousel.js"></script>-->