<!--<link rel="stylesheet" href="../assets/css/carousel.css">-->
<!--<link rel="stylesheet" href="../assets/css/style-select.css">-->

<div class="empty-space-block-sm"></div>
<section class="carousel-block">
    <div class="container">

        <div class="carousel-title">
            <h3 class="carousel-title-heading">Select Own Ring Style</h3>
        </div>

        <div class="carousel_content">

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">

                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0"
                           rel="noopener">Solitaire</a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">

                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0"
                           rel="noopener">Halo</a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">

                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Under Halo
                        </a>
                    </div>

                </div>
            </div>

            <div class="carousel_item">
                <div class="carousel_data">

                    <div class="circle-block">
                        <div class="carousel-img">
                            <a href="#" target="_blank" tabindex="-1" rel="noopener">

                            </a>
                        </div>
                    </div>

                    <div class="carousel-block-empty-space"></div>

                    <div class="carousel-caption">
                        <a href="#" target="_blank" tabindex="0" rel="noopener">
                            Side Stones
                        </a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<script type="text/javascript" src="../assets/js/carousel/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/carousel/carousel.js"></script>