.benefit-block {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.benefit-block {
    padding: 75px 0;
}

.benefit-content {
    display: flex;
}

.benefit-content>div {
    position: relative;
    width: 50%;
    max-width: 50%;
}

.benefit-block-img {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.benefit-block-img img {
    width: 100%;
    max-width: 100%;
    object-fit: fill;
    height: auto;
}

.benefit-block-img:hover img{
    animation-name: bwp-wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.benefit-block-text {
    display: flex;
    padding: 0 15px;
}

.benefit-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.benefit-block-text-data {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.benefit-block-text-data>div {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
}

.benefit-head-title {
    font-size: 50px;
    line-height: 55px;
    color: #000;
    margin: 40px 0 5px;
}

.benefit-block-text-left {
    text-align: left;
}

.benefit-button {
    display: inline-block !important;
}

.benefit-button.read-more {
    font-size: 11px;
    line-height: 35px;
    letter-spacing: 3px;
    border-style: solid;
    text-transform: uppercase;
    border-width: 1px 1px 1px 1px;
    border-color: #000;
    padding: 0 25px;
}

.benefit-button.read-more:hover {
    color: #fff;
    border-color: #cb8161;
    background: #cb8161;
}

a:hover, a:focus {
    outline: 0;
    color: #cb8161;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .benefit-block-text {
        padding: 0 7.5px 0 0;
    }

    .benefit-block-img {
        padding: 0 0 0 7.5px;
    }

    .benefit-head-title {
        font-size: 30px;
        line-height: 35px;
    }
}

@media (max-width: 991px) {
    .benefit-head-title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 767px) {
    .benefit-content {
        flex-direction: column;
        gap: 30px;
    }

    .benefit-content>div {
        width: 100%;
        max-width: 100%;
    }

    .benefit-head-title {
        font-size: 30px;
        line-height: 35px;
    }

    .benefit-block-vertical-white-space {
        width: 0;
        max-width: 0;
    }
}