
/* carousel css */

.carousel-title-heading {
    font-size: 24px;
    text-align: center;
    color: #cb8161;
    margin-bottom: 45px;
    text-transform: uppercase;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* my style */

.carousel_content {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex !important;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.carousel_control {
    position: relative;
    width: 11px;
    max-width: 11px;
    height: 100%;
    max-height: 100%;
    align-items: center;
}

.carousel_control span {
    font-size: 35px;
    cursor: pointer;
}

.carousel_control>div {
    align-items: center;
    height: 100%;
    max-height: 100%;
    display: flex;
}

.carousel_control_right>div {
    display: flex;
    justify-content: flex-end;;
}


.carousel_data {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slick-list {
    position: relative;
    width: calc(100% - 22px);
    max-width: calc(100% - 22px);
}


.carousel-img,
.carousel-caption,
.carousel-text,
.carousel-btn {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-img {
    height: 75px;
    max-height: 75px;
}

.carousel-img a {
    display: block;
    position: relative;
    height: 75px;
    max-height: 75px;
    width: 75px;
    max-width: 75px;
}

.carousel-img svg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: fill;
}

.carousel-caption {
    height: 16px;
    max-height: 16px;
}


.carousel-caption a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.carousel-text {
    height: 61px;
    max-height: 61px;
}

.carousel-text p {
    font-size: 14px;
    text-align: center;
    width: 95%;
    line-height: 1.5;
    height: 61px;
    max-height: 61px;
}

.carousel-btn {
    height: 28px;
    max-height: 28px;
}

.carousel-btn a {
    font-size: 16px;
    line-height: 1;
    color: #fff;
    text-align: center;
    padding: 6px 28px;
    background: #000;
    border-radius: 3px;
    transition: opacity .3s ease 0s;
    text-decoration: none;
    outline: none;
}

.carousel-btn a:hover {
    opacity: .7;
}

.carousel_data:hover .carousel-caption a, .carousel_data:focus .carousel-caption a{
    outline: 0;
    color: #cb8161;
    text-decoration: none;
}

.carousel-caption a:hover, .carousel-caption a:focus {
    outline: 0;
    color: #cb8161;
    text-decoration: none;
}

.carousel_data:hover .circle-block{
    animation-name: bwp-wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
