.pc-head {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    transition: all 1s;
}

.pc-head .container {
    max-width: 1770px;
}

.pc-head .header-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 👻 header pc top part 👻 */

.pc-head .header-content-top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: all 1s;
    overflow: hidden;

}

@keyframes hide {
    0% {
        height: 32px;
    }
    25% {
        height: 24px;
    }
    25% {
        height: 16px;
    }
    25% {
        height: 0px;
    }
}

.pc-head .header-content-top>div {
    position: relative;
    display: flex;
    align-items: center;
}

.pc-head .header-content-top a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pc-head .header-content-top a:hover {
    color: #cb8161;
}

.pc-head .header-content-top a svg {
    height: 14px;
}

.pc-head .header-content-top a:hover svg {
    fill: #cb8161;
}

.hide-top-header-part .header-content-top {
    animation: hide 1000ms;
    animation-iteration-count: 1;
    padding: 0;
}

.hide-top-header-part .header-content-top>div a {
    display: none;
}

.hide-top-header-part .header-content-bottom {
    padding-bottom: 0 !important;
}

/* 👻 header pc bottom part 👻 */

.pc-head .header-content-bottom {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    transition: all 1s;
}

/* 👻 logo 👻 */

.pc-head .logo-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.pc-head .logo-wrap svg {
    height: 62px;
    width: auto;
}

.pc-head .logo-wrap {
    position: relative;
}

/* 👻 header icons 👻 */

.pc-head .header-icons {
    position: relative;
    display: flex;
    align-items: center;
}

.pc-head .header-icons>div {
    position: relative;
    display: flex;
    align-items: center;
}

.pc-head .header-icons>div svg {
    height: 18px;
    width: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.pc-head .header-icons>div svg:hover {
    fill: #cb8161;
}

.bag-shopping-icon .bag-shopping-amount {
    position: absolute;
    display: block;
    top: -10px;
    left: 18px;
    background-color: #000;
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
}

/* 👻 navigation 👻 */

.pc-head .header-navigation {
    display: flex;
    align-items: center;
}

.pc-head .header-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.pc-head .header-navigation .main-nav-item {
    position: relative;
    margin-right: 22px;
    margin-left: 22px;
}

.main-nav-item-mega-menu {
    position: static;
}

.pc-head .header-navigation .main-nav-item:first-child {
    margin-left: 0;
}

.pc-head .header-navigation .main-nav-item:last-child {
    margin-right: 0;
}

.pc-head .header-navigation .main-nav-item>a {
    position: relative;
    display: flex;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .35s ease;
    letter-spacing: 2px;
}

.pc-head .header-navigation .main-nav-item>a::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s ease;
    background: #cb8161;
    height: 1px;
}

.pc-head .header-navigation .main-nav-item.active>a,
.pc-head .header-navigation .main-nav-item:hover>a,
.pc-head .header-navigation .main-nav-item:focus>a {
    color: #cb8161;
}

.pc-head .header-navigation .main-nav-item.active>a::before,
.pc-head .header-navigation .main-nav-item:hover>a::before,
.pc-head .header-navigation .main-nav-item:focus>a::before {
    width: 100%;
}

.main-nav-item-mega-menu {
    position: static !important;
}

.pc-head .menu-dropdown>a::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M362.7 203.9l-159.1 144c-6.125 5.469-15.31 5.469-21.44 0L21.29 203.9C14.73 197.1 14.2 187.9 20.1 181.3C26.38 174.4 36.5 174.5 42.73 180.1L192 314.5l149.3-134.4c6.594-5.877 16.69-5.361 22.62 1.188C369.8 187.9 369.3 197.1 362.7 203.9z'/%3E%3C/svg%3E");
    pointer-events: none;
    margin-left: 3px;
    line-height: 20px;
    width: 9px;
    margin-top: auto;
    margin-bottom: auto;
}

.pc-head .header-navigation .main-nav-item.active>a::after,
.pc-head .header-navigation .main-nav-item:hover>a::after,
.pc-head .header-navigation .main-nav-item:focus>a::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23cb8161%3B' viewBox='0 0 384 512'%3E%3Cpath d='M362.7 203.9l-159.1 144c-6.125 5.469-15.31 5.469-21.44 0L21.29 203.9C14.73 197.1 14.2 187.9 20.1 181.3C26.38 174.4 36.5 174.5 42.73 180.1L192 314.5l149.3-134.4c6.594-5.877 16.69-5.361 22.62 1.188C369.8 187.9 369.3 197.1 362.7 203.9z'/%3E%3C/svg%3E");
}

/* 👻 submenus 👻 */

.menu-dropdown__content {
    position: absolute;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease;
}

.menu-dropdown__content--mega-menu {
    width: 100%;
}

.menu-dropdown__content--mega-menu .menu-row {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 30px 15px;
    background: white;
    box-shadow: 0 6px 15px #0000001f;
    flex-wrap: wrap;
}

.menu-row-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-dropdown:hover > .menu-dropdown__content,
.menu-dropdown:focus > .menu-dropdown__content {
    opacity: 1;
    visibility: visible;
}

.mega-menu-products-head {
    color: #000;
    font-weight: 600;
    font-family: Cormorant Garamond;
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
}

.mega-menu-products ul {
    flex-direction: column;
    align-items: flex-start !important;
}

.mega-menu-products ul>li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #868686;
    text-decoration: none;
    transition: color .35s ease;
    padding: 5px 0;
    font-size: 14px;
    transition: color .35s ease;
}

.mega-menu-products ul>li a:hover,
.mega-menu-products ul>li a:focus {
    color: #cb8161;
}

.mega-menu-products ul>li a svg {
    height: 12px;
    width: auto;
}

.mega-menu-products ul>li a:hover svg,
.mega-menu-products ul>li a:focus svg {
    fill: #cb8161;
}
