

.bg-image {
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 355px 0 455px;
}

/* Images used */
.img1 {
    background-image: url("assets/img/home/1.webp");
}

.img2 {
    background-image: url("../assets/img/home/2.webp");
}

.img3 {
    background-image: url("../assets/img/home/3.webp");
}

.img4 {
    background-image: url("../assets/img/home/4.webp");
}