.promo-banner {
    transition: all 0s linear;
    height: auto;
    min-height: 30px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    background-color: #12214a;
    justify-content: center;
    font-size: 12px;
    position: relative;
    width: 100%;
    z-index: 5000;
    top: 0;
    overflow: hidden;
}

.promo-banner-content p a {
    color: #fff;
}