

.carousel-block {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.carousel-block .container {
    max-width: 1770px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 0;
}

.carousel-block-empty-space {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 15px;
    max-height: 15px;
}

.carousel-block-little-empty-space {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 20px;
    max-height: 20px;
}

.carousel-block-v-little-empty-space {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 10px;
    max-height: 10px;
}

.circle-block {
    width: 150px;
    height: 150px;
    background: #efefed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-img {
    color: #cb8161;
    fill: #efefed;
    width: 50px;
    height: auto;
    cursor: pointer;
}