@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-font: Lato,sans-serif;
    --second-font: Cormorant Garamond;
}

body {
    color: #868686;
    background-color: #fff;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--second-font);
    font-weight: 600;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.empty-space-block-sm {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 15px;
    max-height: 15px;
}

.empty-space-block-md {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 30px;
    max-height: 30px;
}

.empty-space-block-lg {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 45px;
    max-height: 45px;
}

.empty-space-block-xl {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 60px;
    max-height: 60px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        /*max-width: 720px;*/ /*bootstrap*/
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@keyframes bwp-wobble-horizontal{
    16.65% {
        transform: translateX(8px);
    }

    33.3% {
        transform: translateX(-6px);
    }
    49.95% {
        transform: translateX(4px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}